<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aurora.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5645B6EE953240157A4F08469119869F8D73E986</string>
				<key>dateExpires</key>
				<string>1/7/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5645B6EE953240157A4F08469119869F8D73E986</string>
						<key>dateExpires</key>
						<string>1/7/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LW783GQGY7</string>
						<key>name</key>
						<string>fucheng zheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5645B6EE953240157A4F08469119869F8D73E986</string>
						<key>dateExpires</key>
						<string>1/7/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LW783GQGY7</string>
						<key>name</key>
						<string>fucheng zheng</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LW783GQGY7.com.sightcorner.aurora</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>LW783GQGY7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>LW783GQGY7.com.sightcorner.aurora</string>
				</array>
			</dict>
			<key>name</key>
			<string>aurora.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0aae4bdf-f46a-41cb-a669-472ce5d3d900</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sightcorner.aurora</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LW783GQGY7</string>
				<key>name</key>
				<string>fucheng zheng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
